@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    border-bottom: 3px solid $colorPrimario;
    background-color: white;
    @include smallTablet(){
        grid-template-columns: 20% auto 20%;
    }  
    @include tabletLaptop(){
        grid-template-columns: $margenContenido auto 55%;
    }
    .contLogo{
        padding: 10px 0;
        text-align: left;
        @include Asmall(){
            text-align: center;
        }
        .cliente{
            width: 15%;           
            
        }
    }
}