@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    border-bottom: 3px solid $colorPrimario;
    background-color: white;
    @include smallTablet(){
        grid-template-columns: 20% auto 20%;
    }  
    @include tabletLaptop(){
        grid-template-columns: $margenContenido auto $margenContenido;
    }
    .contLogo{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-align: center;
        padding: 10px 0;
        .cliente{
            align-self: center;
            justify-self: left;
            width: 40%;
            @include smallTablet(){
                width: 45%;
            }            
            @include tabletLaptop(){
                width: 20%;
            }
        }
        .santander{
            align-self: center;
            justify-self: right;
            width: 55%;
            @include smallTablet(){
                width: 55%;
            }            
            @include tabletLaptop(){
                width: 30%;
            }
        }
    }
}